{% extends "layout.html" %}
{% block body %}
<h1 style="text-align: center;">Welcome, {{name}}!</h1>
<table style="width:100%">
	<tr>
		<th>
			<h2> Posts: </h2>
		</th>
	</tr>
	
		{% for entry in entries %}
		<tr>
		<td>
    	<div class="card">
        	<div class="card-body">
            	<h5 class="card-title">{{ entry.title }}</h5>
				<a href="{{ url_for('show_entry', id=entry.id) }}" class="card-link">Read More...</a>
        	</div>
    	</div>
		</td>
		</tr>
		{% else %}
		<tr>
    		<td>No Post</td>
		</tr>
		{% endfor %}
	
</table>
<table style="width:100%">
	<tr>
		<th>
			<h2> Comments: </h2>
		</th>
	</tr>
	
		{% for comment in comments %}
		<tr>
    		<td>{{comment.text}}<br><a href="{{ url_for('show_entry',id=comment.parentpostID) }}" class="card-link">Go to Post</a></td>
			<td>made {{comment.getPassedTimeStamp()}} ago
			</tr>
{% else %}
<tr>
    <td>No Comments</td>
</tr>
{% endfor %}
	
</table>

{% endblock %}